{{- $langs := newScratch }}{{ $sites := newScratch }}{{ $years := newScratch -}}
{{- $zt1 := newScratch }}{{ $zt2 := newScratch }}{{ $tags := newScratch }}{{ $people := newScratch -}}

{{- range .mods -}}
  {{- range (slice | append (.Params.languages   | default slice)) }}{{ $langs.Set . true }}{{ end -}}
  {{- range (slice | append (.Params.orig_rel_at | default slice)) }}{{ $sites.Set . true }}{{ end -}}
  {{- if eq .Params.game "Zoo Tycoon 1" }}{{- range (slice | append (.Params.zt1tags     | default slice)) }}{{ $zt1.Set . true }}{{ end -}}{{ end -}}
  {{- if eq .Params.game "Zoo Tycoon 2" }}{{- range (slice | append (.Params.zt2tags     | default slice)) }}{{ $zt2.Set . true }}{{ end -}}{{ end -}}
  {{- range (slice | append (.Params.tags        | default slice)) }}{{ $tags.Set . true }}{{ end -}}
  {{- range (slice | append (.Params.author      | default slice)) }}{{ $k := urlize . }}{{ if not ($people.Get $k) }}{{ $people.Set $k . }}{{ end }}{{ end -}}
  {{- with .Params.orig_rel_date }}{{ $years.Set (substr (printf "%v" .) 0 4) true }}{{ end -}}
{{- end -}}

{{- $out := dict -}}
{{- range $name, $s := dict "languages" $langs "websites" $sites "years" $years "zt1tags" $zt1 "zt2tags" $zt2 "tags" $tags -}}
  {{- $list := slice }}{{ range $k, $_ := $s.Values }}{{ $list = $list | append $k }}{{ end -}}
  {{- $out = merge $out (dict $name $list) -}}
{{- end -}}

{{- $collaborators := slice -}}
{{- range $k, $name := $people.Values }}{{ if ne $k $.exclude }}{{ $collaborators = $collaborators | append $name }}{{ end }}{{ end -}}

{{- return dict
      "languages"     $out.languages
      "websites"      $out.websites
      "years"         $out.years
      "zt1tags"       (complement (slice "All" "ZT1") $out.zt1tags)
      "zt2tags"       (complement (slice "All" "ZT2") $out.zt2tags)
      "tags"          (complement (slice "all") $out.tags)
      "collaborators" $collaborators
-}}